
{% load i18n %}
{% load  static %}
<html lang="en">
<head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>VOC_NPS</title>
<script>
    var mbuttons =[];

$(document).ready(function() {

    // Get mbuttons list
    mbuttons = document.getElementsByClassName("sbutton");
    console.log(mbuttons);


    if (mbuttons.length > 0) {
        for (var i = 0; i < mbuttons.length; i++) {
            mbuttons[i].addEventListener("click", function() {

               console.log(this.id);
               setrating(this.id);
            //   para = document.getElementById("lg").innerHTML=this.id;
               document.getElementById("myText").value=this.id

            });
        }

    }

});

setrating = function(id) {
    for (var i = 0; i < mbuttons.length; i++) {
        if (+id >= +mbuttons[i].id) {
            mbuttons[i].style.color = "white";
            mbuttons[i].style.background = "blue";
        }else {
            mbuttons[i].style.color = "red";
            mbuttons[i].style.background = "yellow";
        }

    }
}
</script>
</head>
<body>
<link href="{%static 'voc/css/style.css' %}" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <div class="container-sm p-0">
  <center><div class="card d-inline-flex p-2" style="width:400px;height:auto">
    <center><img style="height:150px" src="https://100076.pythonanywhere.com/media/brandlogos/{{logo}}" width="80%" height="100%" alt="your logo"></center>
    <!--<center><img src="{%static 'img/yourlogo.png' %}" style="height:150px" height="100%" alt="your logo"></center>-->
    <div class="card-body">

       <div style="font-size:20px">Considering your experience with <b>{{brand}}</b>, how likely would you be to recommend <b>{{product}}</b> to your friend or colleague<br><br>
       <h4 class="card-title text-center font-weight-bold"><u>Select Your score</u></h4>
            <div class='bcontainer'>
                <button class='sbutton' id="1">1</button>
                <button class='sbutton' id="2">2</button>
                <button class='sbutton' id="3">3</button>
                <button class='sbutton' id="4">4</button>
                <button class='sbutton' id="5">5</button>
                <button class='sbutton' id="6">6</button>
                <button class='sbutton' id="7">7</button>
                <button class='sbutton' id="8">8</button>
                <button class='sbutton' id="9">9</button>
                <button class='sbutton' id="10">10</button>
               <!-- <form action="" method="POST">-->
               <!--     {% csrf_token %}-->
               <!--     <input type="text" name="rate" hidden>-->
               <!--     <input type="text" name="brand" value="{{brand}}" hidden>-->
               <!--     <input type="text" name="logoname" value="naga" hidden>-->
               <!--     <input type="text" name="product" value="{{product}}" hidden>-->


               <!--<center> <button class='sbutton'>0</button>-->
               <!--<center>-->
<!--</form>-->
                <button class="lowerbutton"> <a href="sendfeed" style="color:black;text-decoration:none">Send</a></button>

</center>
              </div>

              <div class='butonsub'>

                <div class='ba'>Very unlikely</div>
                <div class='bb'></div>
                <div class='bc'>Very likely</div>
              </div>
    </div>

</div>
</div>
</center>
</div>
